.post-share {
  display: flex;
  gap: 1.6rem;
  background-color: var(--cardColor);
  padding: 1.6rem;
  border-radius: 1.6rem;
}

.post-share>img {
  width: 48px;
  height: 48px;
  border-radius:50%
}

.post-share>div{
  display: flex;
  flex-direction: column;
  flex:auto;
  gap: 1.6rem;
}

.post-share>div>input {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
}

.post-options {
  display: flex;
  justify-content: space-around;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 1px;
}

.option:hover{
  cursor: pointer;
}

.post-share-btn{
  padding: 5px 20px;
  font-size: 12px;
}

.preview-photo{
  position: relative;
}

.preview-photo>svg{
  position: absolute;
  right: 1.6rem;
  top: 0.8rem;
  cursor: pointer;
}

.preview-photo>img{
  width: 100%;
  max-height: 32rem;
  object-fit: contain;
  border-radius: 0.8rem;
}